div {
    /* border: solid 1px black; */
}

* {
    margin: 0;
}

body {
    background-color: black;
}

.container {
    background-color: whitesmoke;
}

.container {
    height: 100vh;
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: stretch;
}

.image-container {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.logo-container {
    position: absolute;
    background-color: rgb(190, 189, 184, 0.2);
    color: white;
    width: 100%;
    top: 8rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 7rem;
    margin: 0.5rem;
}

.credit {
    position: absolute;
    bottom: 1rem;
    color: lightblue;
    font-size: 0.8rem;
}

a {
    color: lightgray;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.intro {
    font-weight: bold;
    font-size: 1.3em;
    padding: 4rem 2rem 2rem;
    font-family: "Open Sans", sans-serif;
}

.intro:last-child {
    padding-top: 0;
}


.actual-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.actual-form p {
    font-size: 1.2em;
    padding: 0.8rem 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.actual-form p:first-child {
    background-color: white;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.8rem;
}

label {
    padding: 0 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}

input {
    margin: 0 2rem;
    height: 1.5rem;
}

.form-column div {
    display: flex;
    flex-direction: column;
}

.submit-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.submit-container div {
    padding: 2rem 2rem;
}

button {
    align-self: flex-start;
    padding: 0.8rem 3rem;
}